.header__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

.header__link:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}
