.homepage__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: white;
  display: inline-block;
  width: 358px;
  text-decoration: none;
}

.homepage__link:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width:580px) {
  .homepage__link {
    font-size: 12px;
    line-height: 15px;
  }
}
